<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="clientExtensions"
		  type="Ucsb.Sa.Enterprise.ClientExtensions.Configuration.ClientExtensionsConfigurationSection,Ucsb.Sa.Enterprise.ClientExtensions"/>
	</configSections>

	<appSettings>
		<add key="applicationName" value="Ucsb.Sa.Enterprise.UcsbAlerts.EverbridgeClient.Tests" />
		<add key="environment" value="local" />
		<add key="everbridge:organization" value="Test" />
	</appSettings>

	<clientExtensions>
		<httpClients>
			<httpClient name="everbridge" baseAddress="https://api.everbridge.net/rest/" traceLevel="All" serializeToCamelCase="true" />
		</httpClients>
	</clientExtensions>

	<connectionStrings>
		<add name="Instrumentation"
		  connectionString="Initial Catalog=instrumentation;Data Source=instrumentation.sql.dev.sa.ucsb.edu,2433;Integrated Security=True"
		  providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>